{% extends 'pub/base.html' %}
{% load static %}
{% block title %}
    选手列表
{% endblock %}
{% block css %}
    <link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block main_title %}
    选手列表
{% endblock %}
{% block main_content %}
    <div class="shortcuts">
        {% for i in emp %}
            <a href="{% url 'showgrade' i.id %}">
                <div class="shortcut">
                    <span class="shortcut-label">{{ i.num }}号选手</span>
                    <span class="shortcut-label">{{ i.name }}</span>

                </div>
            </a>
        {% endfor %}

    </div>

{% endblock %}