{% extends 'pub/base.html' %}
{% load static %}
{% block title %}
    评委打分
{% endblock %}
{{% block css %}
    <style type="text/css">

        .widget-content2 {
            padding: 20px 15px 15px;

            background-size: 100% 100%;
            background: rgb(249, 246, 241) no-repeat;

            border: 0px solid #D5D5D5;
            mini-height: 300px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        .widget-content3 {
            padding: 20px 15px 15px;

            background: rgba(255, 255, 255, 0);

            border: 0px solid #D5D5D5;

            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        #ave {
            font-family: "Times New Roman";
            font-size: 100px;
            color: #cb1a15;
        }
    </style>

    <link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block login %}
    <li class="dropdown">
        <a href="{% url 'showall' id  last %}" class="dropdown-toggle">
            <i class="icon-eye-open"></i>
        </a>

    </li>
    <li class="dropdown">
        {% if pre > 0 %}
            <a href="{% url 'showgrade' pre %}" class="dropdown-toggle">
                <i class="icon-arrow-left"></i>
            </a>
        {% endif %}

    </li>
    <li class="dropdown">
        {% if last != 99 %}
            <a href="{% url 'showgrade' last %}" class="dropdown-toggle">
                <i class="icon-arrow-right"></i>
            </a>
        {% endif %}

    </li>
{% endblock %}
{% block row %}
    <div class="span9">
        <div class="widget ">
            <!-- /widget-header -->
            <div class="widget-content3">
                <div class="shortcuts">
                    {% for i in judge %}
                        <div class="shortcut">
                            <span class="shortcut-label"><h2>{{ i.name }}</h2></span>
                            <i>
                                {#                                <input type="text" id="grade{{ i.id }}" class="gradeaboutjudge" value="{{ i.grade }}"  style="width: 80%;  ">#}
                                <h1><span class="gradeaboutjudge" id="grade{{ i.id }}">
                                    {% if i.grade %}
                                        {{ i.grade }}
                                    {% else %}
                                        0.0
                                    {% endif %}
                                </span></h1>
                            </i>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="widget ">
            <!-- /widget-header -->
            <div class="widget-content2">
                <div class="shortcuts">
                    <h1 style="color: #e40e17">{{ emp.num }}号{{ emp.name }}<br>业绩展示得分</h1>

                    <img src="{% static 'grade.png' %}" width="90%">
                    <div><span id='ave'>{% if emp.ave_grade %}{{ emp.ave_grade }}
                    {% endif %}</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>

        $(function (string) {
            t1 = setInterval(function () {
                ajax_search({{ id }})
            }, 2000);

            function ajax_search(id) {
                // 查询该选手相关的分数
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'ajax_search',
                    data: {"emp_id": id},

                    success: function (data) {

                        var data = JSON.parse(JSON.stringify(data));
                        for (var i = 0; i < data['idlist'].length; i++) {
                            {#$('#grade' + data['idlist'][i]).val(data['gradelist'][i]);#}
                            $('#grade' + data['idlist'][i]).html(data['gradelist'][i])

                        }
                        var count ={{ judge.count }};
                        if (count == data['idlist'].length) {
                            //计算平均数
                            ajax_ave(id);
                        }
                    }
                });
            };

            function ajax_ave(id) {
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'ajax_ave',
                    data: {'id': id},
                    success: function (data) {
                        var data = JSON.parse(JSON.stringify(data));
                        var ave = data["ave"]
                        var max = data["max"]
                        var min = data["min"]
                        $('#ave').html(ave);

                        var flagmax = 0
                        var flagmin = 0
                        $('.gradeaboutjudge').each(function (i, ele) {
                            if ((this).innerHTML == max.toString() && flagmax == 0) {
                                $(this).css("color", "red")
                                flagmax = 1
                            }
                            if ((this).innerHTML == min.toString() && flagmin == 0) {
                                $(this).css("color", "blue")
                                flagmin = 1
                            }
                        })
                        clearInterval(t1);
                    }
                });

            };

        })


    </script>
{% endblock %}