{% extends 'pub/base.html' %}
{% load static %}

{% block title %}
    评委打分-
{% endblock %}
{% block css %}
    <link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block nav %}
    <li>
        <a href="{% url 'list' %}">
            <i class=" icon-list-alt"></i>
            <span>选手列表</span>
        </a>
    </li>
    <li>
        {% if pre > 0 %}
            <a href="{% url 'showgrade' pre %}">
                <i class="icon-arrow-left"></i>
                <span>上一位</span>
            </a>
        {% endif %}
    </li>
    <li>
        {% if last != -1 %}
            <a href="{% url 'showgrade' last %}">
                <i class="icon-arrow-right"></i>
                <span>下一位</span>
            </a>
        {% endif %}
    </li>

{% endblock %}
{% block main_title %}
    去掉最高最低分后的平均分：<input type="text" id="ave" readonly>
{% endblock %}
{% block main_content %}
    <div class="shortcuts">
        {% for i in judge %}
            <div class="shortcut">
                <span class="shortcut-label">{{ i.name }}</span>
                <i><input type="text" readonly id="grade{{ i.id }}" value="{{ i.grade }}" style="width: 80%"></i>
            </div>
        {% endfor %}


    </div>

{% endblock %}
{% block script %}

    <script>

        $(function () {
            t1 = setInterval(function () {
                ajax_search({{ id }})
            }, 1000);

            function ajax_search(id) {
                // 查询该选手相关的分数
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'ajax_search',
                    data: {"emp_id": id},

                    success: function (data) {

                        var data = JSON.parse(JSON.stringify(data));
                        for (var i = 0; i < data['idlist'].length; i++) {
                            $('#grade' + data['idlist'][i]).val(data['gradelist'][i]);
                        }
                        var count ={{ judge.count }};
                        console.log(data['idlist'].length);
                        if (count == data['idlist'].length && $('#ave').val() == '') {
                            //计算平均数
                            ajax_ave(id);
                        }
                    }
                });
            };

            function ajax_ave(id) {
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'ajax_ave',
                    data: {'id': id},
                    success: function (data) {
                        $('#ave').val(data);
                        clearInterval(t1);
                    }
                });

            };

        })


    </script>
{% endblock %}
